
.background {
	background-color: var(--mantine-color-neutral-1);
}

.appShell {
	@extend .background;
}

.appShellHeader {
	@extend .appShell;
}

.appShellNavbar {
	@extend .appShell;
	padding: var(--mantine-spacing-xl)
}

.appShellMain {
	@extend .appShell;
}

.button {
	border-radius: var(--mantine-radius-xl);
	&[data-variant="filled"] {
		background-color: var(--mantine-color-neutral-0);
		color: var(--mantine-color-neutral-1);

		&:hover {
			filter: brightness(110%);
		}
	}


	&[data-variant="outline"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);

		&:hover {
			filter: brightness(110%);
		}
	}

	&[data-variant="subtle"] {
		color: var(--mantine-color-neutral-0);

		&:hover {
			filter: brightness(110%);
		}

		&:active {
			background-color: var(--mantine-color-neutral-1);
		}
	}
}

.checkbox {
	color: var(--mantine-color-neutral-0);
	border-color: var(--mantine-color-neutral-0);
	&:checked {
		background-color: var(--mantine-color-neutral-0);
	}
}

.badge {
	padding: 20px;
	font-size: var(--mantine-font-size-xxs);

	&[data-variant="outline"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);
		cursor: pointer;
	}

	&[data-variant="navBadge"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);
		background-color: var(--mantine-color-neutral-1);
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 1em .25em var(--mantine-color-neutral-0),
			0 0 4em 1em var(--mantine-color-neutral-1),
		}
	}
}

.textInput {
	border: 2px solid var(--mantine-color-neutral-0);
	background-color: var(--mantine-color-neutral-1);
}

.ProductCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--mantine-radius-lg);
	cursor: pointer;
	max-width: 250px;
	min-height: 280px;
}


.productCardCopy {
	font-size: var(--mantine-font-size-sm);
}

.productCardPrice {
	@extend .productCardCopy;
}

.ProductCardImageSection {
	height: 100%;
	transition: ease-in-out 0.5s;

	&:hover {
		transform: scale(1.10);
	}
}


.responsiveContainer {
	margin: 50px auto;
	@media(min-width: 1200px) {
		max-width: 50%;
		margin: 0 auto;

	}
	@media(min-width: 2000px) {
		max-width: 40%;
		margin: 0 auto;

	}
}

.footer {
	background-color: var(--mantine-color-neutral-0);
	color: #d3d3d3;
	padding: 20px 12px;
	min-height: 200px;
}

.footerIcons {
	background-color: black;
	color: #f2f8fc;
	margin-right: 20px;
}