@import url('https://fonts.googleapis.com/css2?family=Ojuju&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background {
	background-color: var(--mantine-color-neutral-1);
}

.appShell {
	@extend .background;
}

.appShellHeader {
	@extend .appShell;
}

.appShellNavbar {
	@extend .appShell;
	padding: var(--mantine-spacing-xl)
}

.appShellMain {
	@extend .appShell;
}

.bodyContent{
	@extend .appShell;
	max-width: 1600px;
	margin: 0 auto;
}

.button {
	border-radius: 0;

	&[data-variant="filled"] {
		background-color: var(--mantine-color-neutral-0);
		color: var(--mantine-color-neutral-1);

		&:hover {
			filter: brightness(110%);
		}
	}


	&[data-variant="outline"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);

		&:hover {
			filter: brightness(110%);
		}
	}

	&[data-variant="subtle"] {
		color: var(--mantine-color-neutral-0);
		padding: 0;

		&:hover {
			background-color: var(--mantine-color-neutral-1);
			color: var(--mantine-color-neutral-0);
		}

		&:active {
			background-color: var(--mantine-color-neutral-1);
		}
	}
}

.checkbox {
	color: var(--mantine-color-neutral-0);
	border-color: var(--mantine-color-neutral-0);

	&:checked {
		background-color: var(--mantine-color-neutral-0);
	}
}

.badge {
	padding: 20px;
	font-size: var(--mantine-font-size-xxs);

	&[data-variant="outline"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);
		cursor: pointer;
	}

	&[data-variant="navBadge"] {
		color: var(--mantine-color-neutral-0);
		border: 1px solid var(--mantine-color-neutral-0);
		background-color: var(--mantine-color-neutral-1);
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 1em .25em var(--mantine-color-neutral-0),
			0 0 4em 1em var(--mantine-color-neutral-1),
		}
	}
}

.textInput {
	border: 2px solid var(--mantine-color-neutral-0);
	background-color: var(--mantine-color-neutral-1);
}

.ProductCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0;
	cursor: pointer;
	max-width: 250px;
	min-height: 280px;
}


.productCardBrand {
	font-size: var(--mantine-font-size-sm);
}

.productCardCopy {
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.productCardPrice {
	//@extend .productCardCopy;
	font-size: var(--mantine-font-size-md);

	font-weight: bold;
}

.ProductCardImageSection {
	height: 100%;
	transition: ease-in-out 0.5s;

	&:hover {
		transform: scale(1.10);
	}
}


.footer {
	background-color: var(--mantine-color-neutral-0);
	color: #d3d3d3;
	padding: 20px 12px;
	min-height: 200px;
}

.footerIcons {
	background-color: black;
	color: #f2f8fc;
	margin-right: 20px;
}