
.logo {
	font-family: 'Inter', sans-serif;
	color: var(--mantine-color-primary-4);
}


.mainSection {
	padding: var(--mantine-spacing-xl) var(--mantine-spacing-sm);
}

.badgeSection {
	//padding: var(--mantine-spacing-lg);
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}